*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	min-width: 320px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #505050;
	line-height: 28px;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}
ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.container-content {
	max-width: 970px;
	margin: 0 auto;
}
.section-line {
	border-bottom: 1px solid rgba(#D0D4D8, .5);
}
.title {
	font-family: 'Georgia';
	font-size: 32px;
	line-height: 38px;
	color: #4E5665;
	text-align: center;
}

::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-track {
	box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $accent;
	border-radius: 10px;
	border: 3px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
	background: #FFD600;
}
::-moz-scrollbar {
	width: 15px;
}
::-moz-scrollbar-track {
	box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
	background: #fff;
}
::-moz-scrollbar-thumb {
	background: $accent;
	border-radius: 10px;
	border: 3px solid #fff;
}
::-moz-scrollbar-thumb:hover {
	background: #FFD600;
}